body {
  width: 100%;
  background-color: #212937;
  z-index: 1;
  position: relative;
  margin: 0;
}

* {
  cursor: url(box.svg) 30 30, auto;
  font-family: 'ヒラギノ明朝 ProN';
  font-size: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a :hover {
  color: #C9C4B8;
}

li {
  list-style: none;
}

h1 {
  color: #C9C4B8;
  font-size: 50px;
}

h2 {
  color: #C9C4B8;
  font-size: 45px;
}

h3 {
  color: #707070;
  font-size: 28px;
}

#contents {
  margin: 50px 0px;
}

#hole {
  width: 100%;
  position: relative;
}

.img01 {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.img02 {
  width: 300px !important;
  height: 200px !important;
}

.mask {
  width: 500px !important;
  height: 200px !important;
  margin: 0 auto;
  position: absolute;
  right: -200px;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.img02 {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}

.block {
  display: block !important;
  animation-name: img;
  animation-duration: 1s;
}

.opacity {
  display: none;
}
.chenge_image2 {
  display: none;
}
@keyframes img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-logo-p {
  position: relative;
  top: 250px;
  width: 350px;
  text-align: center;
  color: #F7F7F7;
}

.none {
  display: none !important;
}
.none2 {
  display: none !important;
  animation-name: img;
  animation-delay: 1s;
}

/* ローディング */

.progress {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 35%;
}

.progress span {
  transition: all 500ms;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 10px;
  animation: wave 3s;
  margin-top: 30px;
  margin-right: 30px;
  padding: 10px;
  opacity: 0;
}

#loader p {
  position: absolute;
  top: 40%;
  left: 40%;
  animation: wave 4s;
  opacity: 0.1;
}

.progress img {
  display: block;
  width: 40px;
  height: 30px;
}

@charset "UTF-8";
.progress {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 35%;
}

.progress span {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 10px;
  -webkit-animation: wave 3s;
  animation: wave 3s;
  margin-top: 30px;
  margin-right: 30px;
  padding: 10px;
  opacity: 0;
}

#loader p {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  -webkit-animation: wave 4s;
  animation: wave 4s;
  opacity: 0.1;
}

.progress img {
  display: block;
  width: 40px;
  height: 30px;
}

.progress span:nth-child(1) {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  margin-top: 5px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.progress span:nth-child(2) {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.progress span:nth-child(3) {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
  margin-top: 5px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

@-webkit-keyframes wave {
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  100% {
    opacity: 1;
  }
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(DSC01543.png);
  z-index: 20;
  text-align: center;
  color: #F7F7F7;
  font-size: 3vw;
  margin: 0 auto;
}

#loader-bg.is-active {
  opacity: 0;
  visibility: hidden;
}

#loader.is-active {
  opacity: 1;
  visibility: visible;
}

#loader img {
  width: 10%;
  display: block;
  position: relative;
  opacity: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 45%;
  animation: wave 4s;
}

@keyframes wave {
  100% {
    opacity: 1;
  }
}

.stop {
  overflow: hidden
}

#navArea {
  position: relative;
  z-index: 15;
}

nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url(DSC01543.png);
  background-position: center;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
  z-index: 11;
}

.nav-container {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-img img {
  position: relative;
  top: 25%;
  width: 350px;
  animation-duration: 2s;
  animation-name: delay;
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav .inner {
  width: 80%;
}

nav .inner h1 {
  font-size: 3vw;
  color: #ffffff;
  padding-left: 15px;
  border-bottom: solid #ffffff 1px;
}

nav .inner ul li a {
  display: block;
  color: #ffffff;
  font-size: 22px;
  padding: 13px;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner ul li :hover {
  color: #C9C4B8;
}

.nav-logo img {
  position: relative;
  top: 20px;
  left: 10px;
  width: 20%;
}

.nav-small {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-small small, .nav-small a {
  font-size: 15px;
  color: #F7F7F7;
}

/*============
.toggle_btn
=============*/

.toggle_btn {
  display: block;
  position: absolute;
  top: 30px;
  right: -25px;
  width: 100px;
  height: 50px;
  z-index: 15;
}

.clse {
  display: none;
  position: absolute;
  right: 120px;
  top: -10px;
  color: #ffffff;
  opacity: 1;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 5px;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  transition-duration: 0.7s;
  transform: scaleX(1);
}

.toggle_btn span:nth-child(1) {
  top: 2px;
}

.toggle_btn span:nth-child(2) {
  top: 15px;
}

.toggle_btn:hover .span2 {
  transform: scaleX(1.5);
}

.toggle_btn span:nth-child(3) {
  top: 28px;
}

.open .toggle_btn span {
  background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
  transform: scaleX(0);
  transition-duration: 0.7s;
}

.open .toggle_btn span:nth-child(3) {
  transform: scaleX(0);
  transition-duration: 0.7s;
}


/* Top */

header {
  width: 100%;
}

.header-container {
  height: 830px;
  margin-bottom: 200px;
}
.allworks ,.header-container {
  margin-bottom: 0px;
}

.d {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 830px;
  z-index: 14;
  transition: 0s;
}

.header-content {
  width: 90px;
  height: 830px;
  background-image: url(ヘッダー_アートボード\ 1@2x.png);
  background-position: center;
  background-size: cover;
  margin: 0 0 0 auto;
  position: absolute;
  right: 0px;
  top: 0;
}

/* box */

.box-container {
  position: relative;
  top: 100px;
}

.box img {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.box-p {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-p p {
  font-family: 'ヒラギノ明朝 ProN';
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 4px;
  font-size: 17px;
}

/* sns */

.sns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sns img {
  position: relative;
  top: 90px;
  width: auto;
  height: 20px;
  margin-bottom: 25px;
}

.top {
  width: 100%;
  height: 830px;
  background-image: url(top_img.png);
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.top img {
  position: relative;
  top: 40%;
  display: block;
  margin: 0 auto;
}




/* Topここまで */

/* News-Blog */

.news-blog {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.news-container {
  width: 450px;
  margin: 10px;
}

.blog-container {
  width: 590px;
  margin: 10px;
}

.news-container p, .blog-container p {
  width: 85%;
  color: #F7F7F7;
  font-size: 16px;
}

.blog-container p {
  width: 100%;
  margin: 0 auto;
}

.news-contents p {
  border-top: solid 2px #C9C9C9;
  padding: 30px 0px 5px 0px;
  margin-bottom: 0px;
}

.news-contents p:nth-child(3n) {
  border-bottom: solid 2px #C9C9C9;
}

.news-contents {
  height: 320px;
}

.blog-contents {
  display: flex;
  justify-content: space-between;
  height: 320px;
}

.blog-contents .a {
  font-size: 17px;
  padding: 10px;
}

.blog-contents div {
  margin: 10px;
}

.blog-contents img {
  width: 100%;
  margin-bottom: 10px;
  transition: 0.5s;
}

.blog-contents img:hover, .allworks-contents img:hover,  .photo-contents img:hover {
  transition: 0.7s;
  filter: brightness(70%);
}

/* ボックスアニメーション */

.a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #F7F7F7;
  transition: .1s;
  border: solid 1px #707070;
  font-size: 25px;
}

.a::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 0;
  border: 1px solid transparent;

}

.a::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border: 1px solid transparent;

}

.a:hover {
  border: none;
}

.a:hover::before {
  width: 100%;
  height: 100%;
  
  border-top-color: #F7F7F7;
  border-right-color: #F7F7F7;
  transition: width .1s ease-out, height .1s ease-out .1s;
}

.a:hover::after {
  width: 100%;
  height: 100%;
  border-bottom-color: #F7F7F7;
  border-left-color: #F7F7F7;
  transition: border-color 0s ease-out .2s, width .1s ease-out .2s, height .1s ease-out .3s;
}

/* ボックスアニメーション　ここまで */

/* ボックスアニメーション */

.a2 {
  width: 100%;
  position: relative;
  display: block;
  text-decoration: none;
  color: #F7F7F7;
  transition: .2s;
  border-bottom: solid 3px #0065CE;
  padding: 10px;
}

.a2::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
}

.a2::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
}

.ahover {
  border: none;
}

.a2:hover::after {
  width: 100%;
  border-bottom-color: #0065CE;
  transition: border-color 0s ease-out .2s, width .1s ease-out .2s, height .1s ease-out .3s;
}

.a3 {
  width: 100%;
  position: relative;
  display: block;
  text-decoration: none;
  color: #F7F7F7;
  transition: .2s;
  border-bottom: solid 3px #7C0018;
  padding: 10px;
}

.a3::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
}

.a3::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
}

.ahover {
  border: none;
}

.a3:hover::after {
  width: 100%;
  border-bottom-color: #7C0018;
  transition: border-color 0s ease-out .2s, width .1s ease-out .2s, height .1s ease-out .3s;
}

/* ボックスアニメーション　ここまで */

/* スクロールアップ */

.gallery-item, .gallery-item2, .gallery-item3, .gallery-item4, .gallery-item5, .gallery-item6, .gallery-item7 , .gallery-itemlogo {
  position: relative;
  /* アニメーションに関数プロパティ */
  opacity: 0;
  /* フェードインしたいので最初は非表示 */
  bottom: -30px;
  /* 下から上に移動したいので最初はマイナス値 */
  transition: 1s;
  /* 1秒かけてアニメーション */
}

/* スクロールした時に追加されるclass */

.gallery-item.fadein, .gallery-item2.fadein, .gallery-item3.fadein, .gallery-item4.fadein, .gallery-item5.fadein, .gallery-item6.fadein, .gallery-item7.fadein , .gallery-itemlogo.fadein {
  opacity: 1;
  bottom: 0;
}



/* スクロールアップ 　ここまで*/

.readmore {
  width: 100px !important;
  text-align: center;
  float: right;
}
/* News-Blogここまで */

/* About Us */

.aboutus-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.aboutus-container h2, .aboutus-container h3, .aboutus-container h4, .aboutus-container h5 {
  text-align: center;
}

.aboutus-container h3 {
  margin-bottom: 30px;
}

.aboutus-contents {
  display: flex;
  justify-content: space-between;
}

.aboutus-contents h4, .aboutus-contents h5, .aboutus-logo img {
  margin-bottom: 30px;
}

.small-logo h4 {
  color: #ffffff;
  font-size: 2.4vw;
  font-weight: 600;
}

.small-logo h5 {
  color: #ffffff;
  font-size: 2.5vw;
  font-weight: 300;
}

.aboutus-contents > img {
  width: 60%;
  max-width: 750px;
  height: 400px;
}


.aboutus-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  height: 350px;
  background-image: url(DSC01126.png);
  background-position: center;
  background-size:cover;

}


.small-logo {
  width: 100%;
  margin-bottom: 100px;
}

.small-logo img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.aboutus-readmore {
  width: 240px;
  margin: 0 auto;
  text-align: center;
  color: #F7F7F7;
  font-size: 2.5vw;
}

.whatbody .title-container {
  position: unset;
}

/* About Us ここまで*/

/* All Works */

.allworks-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.allworks-container h2, .allworks-container h3 {
  text-align: center;
}

.allworks-container h3 {
  margin-bottom: 80px;
}

.allworks-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.allworks-contents div {
  width: 100%;
  max-width: 330px;
}

.allworks-contents img {
  width: 100%;
  height: 250px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.index .allworks-contents img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.allworks-contents p {
  border: solid 1px #C9C9C9;
  line-height: 40px;
  color: #F7F7F7;
  font-size: 1.1vw;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0px 10px;
}
.index .allworks-contents p {
  letter-spacing: 2px;
  max-width: 250px;
}

.more {
  font-size: 17px !important;
}

.readmore-flex {
  display: flex;
  justify-content: flex-end;
}

.border-readmore {
  width: 240px;
  text-align: center;
  color: #F7F7F7;
  font-size: 2.5vw;
}

/* All Works ここまで */

/* View */

.view-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.view-container h2, .view-container h3 {
  text-align: center;
}

.view-container img {
  display: block;
  width: 100%;
}

.view-slide p {
  text-align: center;
  font-size: 27px;
  color: #F7F7F7;
}

/* View ここまで*/

/* Movie Gallery */

.movie-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.movie-container h2, .movie-container h3 {
  text-align: center;
}

.movie-container h3 {
  margin-bottom: 50px;
}

.movie-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.movie-contents img {
  width: 100%;
}


/* Movie Gallery ここまで */

/* Photo Gallery */

.photo-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.photo-container h2, .photo-container h3 {
  text-align: center;
}

.photo-contents img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 20px;
}

.photo-contents {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 10px;
}

/* Photo Gallery ここまで */

/* footer */

.footer-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
  border-top: solid #ffffff 1px;
  padding-top: 30px;
}

.footer-container p {
  font-size: 16px;
  color: #ffffff;
}

.footer-container iframe {
  width: 300px;
  height: 180px;
}

.footer-left, .footer-center, .footer-right {
  width: 33%;
}

.footer-left p:nth-child(3n) {
  margin-bottom: 20px;
}

.footer-left img, .footer-res-1 img {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.footer-left small, .footer-res-1 small {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  display: block;
}

.footer-right-contents {
  display: flex;
}

.access {
  text-align: right;
}

.googlemap, .googlemap2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.footer-container ul li :hover {
  color: #C9C4B8;
}

.footer-res {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}


/* footer ここまで*/

/* Provacy Policy */

.title-container {
  width: 80%;
  margin: 0 auto;
}


.title-container>a {
  position: relative;
  left: 0;
  top: 20px;
  display: block;
  margin-bottom: 100px;
}

.title-contents {
  text-align: center;
  position: relative;
}

.title-contents h1, .title-contents p {
  text-align: center;
  margin: 10px 0px;
}

.title-contents p {
  color: #707070;
  font-size: 34px;
}

.title p {
  margin-bottom: 100px;
}

.side-title {
  writing-mode: vertical-rl;
  position: absolute;
  left: 0;
  font-size: 70px;
  color: #3E3B3B;
  height: 100%;
}

.side-title p {

}

.privacy-container {
  margin: 0 auto;
  width: 80%;
  border: solid #707070 3px;
  padding: 50px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.privacy-container p {
  font-size: 18px;
  color: #F7F7F7;
  margin-bottom: 50px;
}

/* Provacy Policy　ここまで */

/* All Works page */

.allworkspage-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.allworkspage-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.allworkspage-box div {
  width: 200px;
  height: 120px;
  background-color: #DFE0E2;
  text-align: center;
  border: solid #3E3B3B 1px;
  margin: 2px;
}

.allworkspage-box h3 {
  margin: 0px;
  font-size: 23px;
  margin-top: 10px;
}

.allh3 {
  margin-top: 30px !important;
}
.allh3-1 {
  margin-top: 10px !important;
}

.allworkspage-box p {
  font-size: 15px;
  color: #3E3B3B;
  margin-top: 0;
}

.allworks-p {
  color: #DFE0E2;
  font-size: 18px;
  border: none !important;
}

.allworkspage-contents {
  display: flex;
  justify-content: space-around;
}

.allworkspage-contents .allworks-contents {
  margin: 10px;
  margin-bottom: 100px;
}

.allworks-contents a p {
  width: 150px;
  position: relative;
  transition: .3s;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #C9C4B8;
  border: solid #707070 1px;
}
.allworks-contents a p::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #3E3B3B;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.allworks-contents a p:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.allworks-readmore {
  width: 240px;
  margin: 0 auto;
  text-align: center;
  color: #F7F7F7;
  font-size: 2.5vw;
  margin-bottom: 100px;
}
.add , .add2{
  display: none;
}
.add-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* All Works page ここまで */

/* Flow */

.flow-container {
  width: 80%;
  margin: 0 auto;
}

.flow-container>p {
  font-size: 20px;
  color: #F7F7F7;
  text-align: center;
  margin-bottom: 100px;
}

.flow-contents {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.flow-contents>img {
  width: 50%;
  max-width: 450px;
  height: 200px;
}

.circle {
  position: relative;
  left: 0px;
  width: 50%;
  margin-left: 50px;
}

.circle img {
  position: absolute;
  width: 90px;
  height: 90px;
}

.flow-p1 {
  top: -30px;
  left: 20px;
  position: absolute;
  color: #C9C9C9;
  font-size: 44px;
}

.flow-p2 {
  position: absolute;
  top: -16px;
  font-size: 33px;
  left: 100px;
  color: #C9C9C9;
  width: 400px;
}

.flow-p3 {
  text-align: left !important;
  margin-top: 110px;
  margin-left: 10px;
  font-size: 18px !important;
  color: #F7F7F7;
}

/* Flow ここまで*/

/* 360°View page */

.viewpage-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.viewpage-container img {
  width: 100%;
  max-width: 1100px;
}

.viewpage-container>p {
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  color: #F7F7F7;
}

.work-flex {
  display: flex;
  justify-content: flex-end;
}

.works-more {
  width: 90px;
  text-align: center;
  color: #212937;
  font-size: 25px;
  border: solid 1px #707070;
  padding: 5px 10px;
}


.works-more {
  width: 150px;
  position: relative;
  transition: .3s;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #C9C4B8;
  border: solid #707070 1px;
}
.works-more:hover{
  color: #212937;
}
.works-more::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #C9C4B8;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.works-more:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* 360°View page ここまで */

/* Movie Gallery */

.moviepage-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.moviepage-contents {
  margin: 5px;
}

.moviepage-contents img {
  width: 100%;
  max-width: 480px;
  margin-bottom: 20px;
}

.moviepage-contents>p {
  font-size: 24px;
  color: #F7F7F7;
}

/* Movie Gallery ここまで*/

/* Works */

.works-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.works-container .contena {
  width: 90%;
  height: 650px;
}

.works {
  color: #F7F7F7;
}

.works h4 {
  font-size: 27px;
}

.works>p {
  font-size: 25px;
}

.works-low {
  width: 100%;
}

.works-list ul {
  width: 400px;
  padding: 0px;
}

.works-list li {
  font-size: 21px;
  border-bottom: solid #707070 1px;
}

.workspage-container {
  width: 80%;
  margin: 0 auto;
}

.workspage-container img {
  width: 100%;
}

.workspage-container .works {
  margin-bottom: 100px;
}

.photo-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
}

.photo-flex img {
  width: 100%;
  max-width: 530px;
  margin: 5px;
}

/* Works ここまで*/

/* what all works */

.whatside {
  height: 720px;
}

.our-container>p {
  text-align: center;
  font-size: 20px;
  color: #F7F7F7;
  line-height: 40px;
  margin-bottom: 100px;
}

.our-slide {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.our-slide img {
  width: 23%;
}

.reason-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 200px;
}

.reason-container .title-contents {
  position: relative;
  background-color: #212937;
  width: 400px;
  margin: 0 auto;
  top: 180px;
  z-index: 10;
}

.reason-contents {
  width: 100%;
  border: solid #DFE0E2 1px;
}

.reason-flex {
  display: flex;
  height: 430px;
}

.reason-contents .reason-flex:nth-child(n) .reason {
  padding: 0px 30px;
  padding-top: 50px;
}

.reason-contents .reason-flex:nth-child(2n) .reason {
  padding: 0px 30px;
}

.reason {
  width: 50%;
  margin: 10px;
}

.reason-p1 {
  position: relative;
  display: inline-block;
  padding: 0 45px;
  font-size: 30px;
  color: #F7F7F7;
}

.reason-p1:after {
  content: '';
  position: absolute;
  top: 70%;
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: #F7F7F7;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.reason-p1:after {
  right: 0;
}

.reason1 {
  position: relative;
  top: -110px;
  left: 120px;
}

.reason1 h2 {
  font-size: 2.5vw;
  color: #F7F7F7;
  position: relative;
  top: 35px;
  margin-bottom: 10px;
}

.whatbody .reason1 h2 {
  top: 20px;
}
 
.reason-p2 {
  font-size: 21px;
  color: #707070;
  margin: 0px;
}

.reason-p3 {
  width: 350px;
  position: relative;
  margin: 20px auto;
  top: -100px;
  font-size: 1vw;
  color: #C9C4B8;
}

.reason-img img {
  position: relative;
  width: 200px;
  height: 100px;
  top: -100px;
  margin: 0 auto;
  display: block;
}

.gallery-item8 , .gallery-item9 {
  position: relative;
  /* アニメーションに関数プロパティ */
  opacity: 0;
  /* フェードインしたいので最初は非表示 */
  right: -30px;
  /* 下から上に移動したいので最初はマイナス値 */
  transition: 1s;
  /* 1秒かけてアニメーション */
}

/* スクロールした時に追加されるclass */

.gallery-item8.fadein2 , .gallery-item9.fadein2{
  opacity: 1;
  right: 0;
}


.message-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.message-container .title-contents h1, .message-container .title-contents p {
  text-align: left;
}

.message-container h3 {
  font-size: 35px;
  color: #F7F7F7;
}

.message-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.message-contents img {
  height: 530px;
  margin-right: 10px;
}

.message-contents p {
  font-size: 18px;
  color: #C9C4B8;
  margin-top: 0px;
  margin-bottom: 50px;
  line-height: 30px;
}

.message-p {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 25px;
  color: #C9C4B8;
}

.management-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.management-container .title-contents h1, .management-container .title-contents p {
  text-align: left;
}

.management-contents {
  margin: 0 auto;
}

.management-contents ul {
  padding: 0px;
}

.management-contents li {
  font-size: 24px;
  margin-bottom: 50px;
  color: #C9C4B8;
  text-align: center;
}

.management-photo {
  display: flex;
  justify-content: space-between;
}

.ma-pho {
  max-width: 600px !important;
  width: 50% !important;
}

.management-photo img {
  width: 100%;
  max-width: 400px;
}

.management-photo div {
  width: 100%;
  max-width: 400px;
}

.company-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.company-container .title-contents h1, .company-container .title-contents p {
  text-align: left;
}

.company-p {
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 25px;
  color: #C9C4B8;
  margin-bottom: 10px;
}

.company-p1 {
  width: 50%;
  border-bottom: dotted 3px #004C71;
  margin: 0px;
}

.company-p1 p {
  margin: 0px;
}

.company-p2 {
  position: relative;
  width: 50%;
  border-bottom: dotted 3px #3E3B3B;
}

.company-p2 p {
  position: absolute;
  top: 5px;
  font-size: 18px;
  margin: 0px;
}

.company-p3 {
  width: 50%;
  font-size: 18px;
  border-bottom: dotted 3px #3E3B3B;
  margin-bottom: 0px;
}

.company-pf {
  display: flex;
  align-items: center;
}

/* what all works ここまで */

/* container house */

.house-container {
  width: 80%;
  margin: 0 auto;
}

.house-container h2 {
  text-align: center;
  font-size: 40px;
  color: #F7F7F7;
}

.house-container img {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

.house-slide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.house-slide img {
  width: 24%;
}

.housepage-container {
  background-image: url(コルゲート_アートボード\ 1.png);
  background-position: center;
  background-size: 50%;
  margin-bottom: 150px;
}

.house-contents {
  width: 80%;
  margin: 0 auto;
}

.house-contents .reason {
  margin: 10px;
}

.house-contents .reason1 h2 {
  font-size: 2vw;
}

.house-contents .reason-p3 {
  top: -70px;
  text-align: left;
  font-size: 1.2vw;
  left: 40px;
}

.allworks-flex {
  display: flex;
  justify-content: flex-end;
}


.allworks-more {
  width: 240px;
  position: relative;
  transition: .3s;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #F7F7F7;
  border: solid #707070 1px;
  font-size: 25px;
}
.allworks-more:hover {
  color: #3E3B3B;
}
.allworks-more::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #F7F7F7;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.allworks-more:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.trailer-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.trailer-contents1 h2 {
  font-size: 40px;
  color: #F7F7F7;
  text-align: center;
}

.trailer-contents1 img {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

.trailer-slide {
  display: flex;
  justify-content: space-between;
}

.trailer-slide img {
  width: 24%;
}

.trailer-reason {
  position: relative;
  top: 250px;
}

/* container house ここまで */

/* web catalog */

.catalog-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.catalog-container h2 {
  text-align: center;
  margin-bottom: 200px;
  font-size: 40px;
}

.catalog-p1 {
  font-size: 20px;
  color: #F7F7F7;
  margin: 0 auto;
  width: 80%;
}

.catalog-contents {
  width: 100%;
  margin: 15px;
}

.catalog-cardflex {
  display: flex;
  justify-content: space-between;
}

.catalog-card {
  max-width: 330px;
  width: 100%;
  padding: 10px 0px;
  margin: 0 auto;
  background-color: #C9C4B8;
}

.catalog-card img {
  display: block;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.catalog-p {
  max-width: 83%;
  height: 150px;
  margin: 0 auto;
  border: solid #707070 1px;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  padding: 0px 10px;
  background-color: #F7F7F7;
}

/* web catalog ここまで */

/* Quote */

.container {
  width: 100%;
  margin: 0 auto;
}

.title-quote {
  width: 100%;
}

.container2 {
  width: 80%;
  margin: 0 auto;
}

.quote-container {
  font-size: 16px;
  color: #F7F7F7;
  margin: 0 auto;
  margin-bottom: 100px;
}

.quote-p {
  text-align: center;
  margin-bottom: 10px;
}

.quote-container span {
  color: #FF0031;
}

.quote-form {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.quote-form-p2 {
  margin-top: 0px;
}

.form {
  width: 400px;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
}

.hoge {
  border: 0;
  padding: 10px;
  border: solid 1px #ccc;
  margin: 10px 10px 20px;
  width: 180px;
}

.quote-form p {
  width: 400px;
  max-width: 400px;
}

.quote-form2 {
  margin-bottom: 0px;
}

.quote-form2-p {
  width: 100%;
  max-width: 800px;
  text-align: right;
  font-size: 20px;
  color: #FF0031;
}

.quote-form2-p p {
  margin: 0px 0px 100px 0px;
}

.hoge2 {
  width: 100%;
}

.form3 {
  max-width: 200px;
}

.hoge3 {
  width: 70px;
}

.hoge4 {
  height: 320px;
}

.hoge5 {
  width: 600px;
}

.flex-no {
  display: block;
}

.quote-container-p p {
  margin-bottom: 30px;
}

.quote-container-p {
  margin-bottom: 200px;
}

.send {
  display: block;
  margin: 0 auto;
  width: 300px;
  max-width: 300px;
  height: 60px;
  font-size: 30px;
  color: #F7F7F7;
  text-align: center;
  background-color: #7C0018;
  border: solid #707070 1px;
  margin-bottom: 200px;
}

.send p {
  margin: 8px;
}

.radio {
  max-width: 400px;
  width: 400px;
}

.radio2 {
  max-width: 800px;
  width: 800px;
}

.radio2 .form {
  max-width: 800px;
  width: 800px;
}

.radio .form {
  width: 100%;
}

.radio label {
  margin-right: 20px;
}

.radio-input {
  display: none;
}

.radio-input+label {
  padding-left: 20px;
  position: relative;
}

.radio-input+label::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}

.radio-input:checked+label::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #d01137;
  border-radius: 50%;
}

/* Quote ここまで*/

/* Recruit */

.recruit-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.recruit-container img {
  width: 100%;
  margin: 0 auto;
}

.recruit-container h2 {
  text-align: center;
  font-size: 40px;
  color: #F7F7F7;
  margin-bottom: 100px
}

.recruit-container .company-p {
  border-bottom: solid #707070 1px;
  padding: 20px;
}

.recruit-container .company-p1, .recruit-container .company-p2, .recruit-container .company-p3 {
  border-bottom: none;
}

.recruit-container .company-p2, .recruit-container .company-p3 {
  width: 100%;
}

.company-r {
  border-top: solid #707070 1px;
}

.company-p3list ul {
  padding: 0px;
}

.company-p3list li {
  list-style: disc;
}

.quote-container-r {
  padding: 50px;
  border: solid #707070 2px;
}

/* Recruit ここまで */

/* contact */

.faq-container p, .faq-container span {
  font-family: 'ヒラギノ角ゴシック';
}

.faq-container {
  width: 80%;
  margin: 0 auto;
}

.faq-contents {
  background-color: #C9C9C9;
  padding: 10px;
  border: solid #3E3B3B 3px;
  margin-bottom: 50px;
}

.faq-container h2 {
  text-align: center;
}

.question {
  font-size: 18px;
  color: #707070;
  margin: 0px;
}

.question span {
  padding: 0px 20px;
  font-size: 30px;
  color: #7C0018;
}

.answer {
  display: none;
  padding: 0px 20px;
  font-size: 18px;
  color: #212020;
  line-height: 35px;
}

/* contact ここまで */

/* news */

.newsside {
  height: 1050px;
}

.newspage-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.newspage-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.newspage-contents .newsbox {
  width: 150px;
  height: 150px;
  border: solid #F7F7F7 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
}

.newsbox h2 {
  font-size: 30px;
  color: #fff;
}

.news-list li {
  font-size: 18px;
  color: #F7F7F7;
  margin-bottom: 30px;
}


.a4 , .a5 , .a6 , .a7 , .a8{
  width: 100%;
  position: relative;
  display: block;
  text-decoration: none;
  color: #F7F7F7;
  transition: .2s;
  border-bottom: solid 1px #C9C4B8;
  padding: 10px;
}

.a4::before , .a5::before , .a6::before , .a7::before , .a8::before{
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border: 1px solid transparent;
}

.a4::after , .a5::after , .a6::after , .a7::after , .a8::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 0;
  height: 0;
  border: 1px solid transparent;
}

.a4:hover::after , .a5:hover::after , .a6:hover::after , .a7:hover::after , .a8:hover::after{
  width: 100%;
  border-bottom-color: #C9C4B8;
  transition: border-color 0s ease-out .2s, width .1s ease-out .2s, height .1s ease-out .3s;
}

.ahover {
  border: none;
}

.blogpage-container {
  width: 80%;
  margin: 0 auto;
}

.blogpage-container img {
  display: block;
  margin: 0 auto;
}

.blogpage-container h2 {
  font-size: 30px;
  text-align: center;
  color: #F7F7F7;
}
.blog-more-div {
  width: 80%;
}

.blog-more {
  width: 150px;
  right: 0;
  position: relative;
  transition: .3s;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #C9C4B8;
  border: solid #707070 1px;
}
.blog-more::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #3E3B3B;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.blog-more:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.pick {
  color: #F7F7F7;
  font-size: 28px;
  border-left: solid #F7F7F7 5px;
  padding-left: 10px;
}

.blogchoice {
  display: flex;
  justify-content: flex-end;
  background-color: #707070;
  margin-bottom: 50px;
}

.pick-m {
  margin-bottom: 50px;
}

.pick-m .allworks-contents {
  margin-bottom: 0px;
}

.cate {
  display: flex;
  margin: 10px 30px;
}

.cate p {
  font-size: 25px;
  color: #C9C4B8;
}

/* news　ここまで */

/* blogmain */

.blogmain-p {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.blogmain-p p {
  font-size: 1.8vw;
  color: #F7F7F7;
  margin: 0px;
}

.blogmain-p1 {
  width: 25%;
  height: 70px;
  background-color: #7C0018;
  text-align: center;
  padding: 5px 20px;
}

.border {
  border-bottom: solid #F7F7F7 1px;
}

.blogmain-p2 {
  padding: 0px 10px 0px 10px;
  border-bottom: solid #7C0018;
  height: 40px;
}

.blogmain-p3-p {
  line-height: 50px;
  color: #F7F7F7;
  margin-bottom: 100px;
}

.blogmain-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 100px;
}

.blogmain-container .house-slide img {
  margin: 10px;
  margin-bottom: 100px;
}

.blog .blogpage-container {
  margin-bottom: 90px;
}

.blog .viewpage-container {
  width: 75%;
}
/* blogmain ここまで */




#wrap {
  position:relative;
  top: -650px;
}
.object span {
  z-index:10;
  position:absolute;
  -webkit-transition: all 2s ease;/*アニメーションの変化*/
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.pos0 {
  top:0px;
  left:0px;
}
.pos1 {
  top:50px;
}
.pos2 {
  top:100px;
}
.pos3 {
  top:200px;
}

.btn02 {
  /*背景の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  width:100%;
  max-width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  outline: none;
  color: #FFFFFD;
}

/*ボタン内側の設定*/
.btn02 span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* 重なりを3Dで表示 */
  transform-style: preserve-3d;
  /* アニメーションの設定 数字が少なくなるほど早く回転 */
  transition: 0.5s;
}

.rotateback {
  display: flex;
  justify-content: center;
}
.rotateback p {
  position: relative;
    top: -32px;
    width: 100%;
    height: 100%;
}

.rotateback img {
  width: 20px;
  height: 20px;
}
/*== くるっと回転（奥に） */

/* 回転前 */
.rotateback span:nth-child(1) {
  transform: rotateX(0deg);/*はじめは回転なし*/
  transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(1) {
  transform: rotateX(90deg);/* X軸に90度回転 */
}

/* 回転後 */
.rotateback span:nth-child(2) {
  transform: rotateX(-90deg);/*はじめはX軸に-90度回転*/
  transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(2) {
  transform: rotateX(0deg);/* X軸に0度回転 */
}


.question {
  position: relative;
}

.question::before {
  position: absolute;
  top: 10px;
  right: 35px;
  display: block;
  width: 15px;
  height: 15px;
  margin: auto;
  content: '';
  transform: rotate(135deg);
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
}
.open::before {
  top: 20px;
  transform: rotate(-45deg);
}

.single {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.single2 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.single img {
  width: 200px;
  display: block;
  margin: o auto;
}

.slick-slide img {
  display: block;
  margin: 0 auto;
}

.slider-for img {
  width: 100% ;
  height: 400px;
  margin: 0 auto;
  display: block;
}

.slider-nav img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}
.slider-nav  {
  margin: 0 auto;
  width: 100%;
}

.allworkspage-contents-res {
  display: none;
}

.allworkspage-box1 {
  margin: 0;
}

.all-res {
  display: none;
  margin-bottom: 50px;
}

.whatbody #wrap {
  height: auto;
}

.slide-for {
  height: 450px;
}

.slick-dotted.slick-slider {
  width: 75%;
}

.draggable {
  padding: 0px !important;
}

.ab1:hover {
  background-color: #3E3B3B;
}
.ab1:hover p{
  color: #C9C4B8 !important;
}

.webcatalog .add-container {
  margin-bottom: 0px;
}
.webcatalog .remo2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px !important;
}
.slick-prev {
  left: -30px !important;
}
.slick-next {
  right: -30px;
}

.blog .small-logo {
  margin-bottom: 200px;
}

.slick-dots li button:before
{
    color: #F7F7F7 !important;
}

.quote #wrap {
  top: 200px;
}
.recruit #wrap {
  top: 200px;
}
.contact #wrap {
  top: 200px;
}


/* pc */

@media only screen and (min-width: 1367px) {
  .aboutus-movie {
    height: 350px;
  }
  .movie-contents img {
   width: 550px;
  }

}

@media only screen and (max-width: 1024px) {
  .aboutus-contents > img {
    margin-top: 100px;
    max-width: 400px;
    height: 200px;
  }
  .index .allworks-contents div {
    width: 23%;
  }
  .title-contents h1, .title-contents p {
    font-size: 4vw;
  }
  .reason-p2 {
    font-size: 1.8vw;
  }
  .reason1 h2 {
    font-size: 2.3vw;
  }
  .reason1 {
    top: -100px;
    left: 100px;
  }
  .reason-p1:after {
    width: 50px;
    right: 10px;
  }
  .reason-p1 {
    font-size: 25px;
  }
  .reason-p3 {
    width: 250px;
  }
  .our-container>p {
    font-size: 2vw;
    line-height: 30px;
  }
  .allworkspage-box h3 {
    margin: 0px;
    font-size: 2.5vw;
  }
  
  .allh3 {
    margin-top: 30px !important;
  }
  
  .allworkspage-box p {
    font-size: 1vw;
    color: #C9C4B8;
    margin-top: 0;
  }
  .inner h1 {
    display: none;
  }
  nav .inner ul li a {
    display: block;
    color: #ffffff;
    font-size: 2.5vw;
    text-align: center;
    padding: 8px;
  }
  nav .inner ul li a span {
    display: block;
    font-size: 1.3vw;
    text-align: center;
  }
  nav .inner ul li a .sla {
    display: none;
  }
  nav .inner {
    width: 100%;
  }
  .nav-logo {
    display: ;
  }
  .clse p {
    font-size: 15px;
  }
  .mask {
    right: -250px;
  }
  .allworks-contents img {
    width: 200px;
    height: 200px;
  }
  .allworks-contents p {
    line-height: 20px;
    font-size: 1.2vw;
  }
  .news-contents p {
    font-size: 1.2vw;
  }
  .flow-container>p {
    font-size: 2vw;
  }
  .flow-contents img {
    margin-left: 0px;
  }
  .circle img {
    width: 60px;
    height: 60px;
  }
  .flow-p1 {
    top: -22px;
    left: 15px;
    font-size: 30px;
  }
  .flow-p3 {
    font-size: 2vw !important;
  }
  .flow-p2 {
    top: 0px;
    left: 70px;
    font-size: 2.4vw;
  }
  

}

@media only screen and (min-width: 771px) {

  .sns2 {
    display: none;
  }
  .nav-logo {
    display: none;
  }
  .footer-list2 {
    display: none;
  }
  .googlemap2 {
    display: none;
  }
  .footer-res {
    display: none;
  }
}

/* top 1025 end */

/* ipad */
@media only screen and (max-width: 770px) {

  .allworks-readmore {
    width: 200px;
  }
  .blogpage-container h2 {
    font-size: 4vw;
  }
  .blogpage-container img {
    width: 25%;
  }
  .allh3-1 {
    margin-top: 20px !important;
  }
  .allworkspage-box {
    display: none;
  }
        .all-res {
          display: block;
        }
        .all-res .allworkspage-box {
          display: flex;
        }
  .allworks-contents3 {
    display: none !important;
  }
  .allworkspage-contents-res {
    display: flex;
  }
  .newsbox h2 {
    font-size: 3vw;
  }
  .news-list li {
    font-size: 1.8vw;
  }

  .blog-contents .a {
    font-size: 1.7vw;
  }
  .allworks #wrap {
    top: -200px;
  }
  .side-title {
    font-size: 7.5vw;
  }
  h1 {
    font-size: 5.5vw;
  }
  .title p {
    font-size: 4.5vw;
  }

  .title-container > a img {
    width: 50%;
  }
  #contents {
    top: 300px;
  }
  .allworkspage-box div {
    height: 100px;
  }
  .movie-contents div {
    margin: 10px;
  }
  .view-slide p {
    font-size: 15px;
  }
.allworks-contents img {
    width: 90%;
  }
  .allworks-contents p {
    line-height: 20px;
    font-size: 1.2vw;
  }
.allworks-contents p {
    width: 90%;
    padding: 5px;
    line-height: 20px;
    font-size: 1.2vw;
  }
  .allworks-contents div {
    width: 90%;
  }
  .img01 , .img02 {
    width: 150px !important;
    height: auto !important;
  }
  .nav-img {
    display: none;
  }
  .nav-container {
    top: -50px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 15px;
  }
  .header-container {
    margin-bottom: 0px;
    height: 550px;
  }
  .header-content {
    width: 60px;
    height: 550px;
  }
  .top {
    width: 85%;
    height: 400px;
    position: relative;
    top: 90px;
    margin: 0 auto;
  }
  .top img {
    width: 120px;
  }
  .sns {
    display: none;
  }
  .box img {
    width: 15px;
  }
  .box-p p {
    font-size: 12px;
  }
  .toggle_btn {
    right: -50px;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(3) {
    top: 26px;
  }
  .toggle_btn span {
    width: 30px;
  }
  .sns2 {
    position: relative;
    top: -30px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 40%;
  }
  .sns2 img {
    width: 13%;
    display: block;
  }
  .a {
    font-size: 3vw;
  }
  .news-container p, .blog-container p {
    font-size: 13px;
  }
  .news-contents p {
    padding: 10px 0px 0px 0px;
  }
  .small-logo img {
    width: 30%;
  }

  .footer-container p {
    font-size: 1.5vw;
  }
  .footer-left img, .footer-res img {
    width: 40%;
  }
  .footer-right-contents {
    display: block;
    text-align: right;
  }
  .footer-list {
    display: none;
  }
  .googlemap {
    display: none;
  }
  .footer-logo {
    display: none;
  }
  .border-readmore, .aboutus-readmore {
    width: 40%;
  }
  .aboutus-movie {
    height: 200px;
  }
}


@media only screen and (min-width: 376px) {
  .res-logo {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  #contents {
    top: 250px;
  }
  .footer-left , .footer-center , .footer-right , .googlemap2 {
    display: none;
  }
  .movie-contents {
    display: block;
  }
  .index .allworks-contents div:not(.allnone) {
    display: none;
  }
  .allnone {
    width: 100% !important;
  }
  .aboutus-container {
    margin-top: 90px;
  }
  .small-logo img {
    width: 30%;
  }
  .aboutus-movie {
    margin-bottom: 30px;
  }
  .aboutus-contents {
    display: block;
  }
  .blog-container {
    width: 100%;
    margin: 0px;
  }
  .blog-contents {
    height: 210px;
  }
  .news-blog {
    display: block;
  }
  .news-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-left: 30px;
  }
  .news-contents {
    height: 170px;
  }
  .readmore {
    margin-right: 70px;
  }
  .blog-container p {
    margin-right: 30px;
  }


  .news-container p, .blog-container p {
    font-size: 11px;
}
  .blog-contents .a {
    font-size: 11px;
  }
  .top {
    width: 100%;
    height: 400px;
    position: relative;
    top: 50px;
  }
  .res-text {
    margin-left: 30px;
  }
  .toggle_btn {
    top: 15px;
  }
  nav .inner ul li a {
    font-size: 3vw;
  }
  .d {
    width: 100%;
    height: 60px;
  }
  .header-content {
    width: 100%;
    height: 60px;
    display: flex;
    background-size: cover;
    background-image: url(ヘッダー_アートボード1sp.png);
  }
  .box-container {
    display: none;
  }
  .res-logo {
    display: flex;
    position: relative;
    top: 5px;
    left: 15px;
    z-index: 15;
  }
  .res-logo img {
    width: 10%;
  }
  .res-logo div img {
    width: 40%;
  }
  .res-logo8 {
    width: 40%;
  }

}
/* top 600 end */

@media only screen and (max-width: 375px) {
  .newspage-contents {
    display: block;
  }
  .newspage-contents .newsbox {
    margin: 0 auto;
    top: -70px;
  }
  .news-list ul {
    padding: 0;
  }
  .allworks-contents img {
    width: 100%;
    height: 120px;
  }
  .allworks-contents p {
    width: 90%;
  }
  .pick-m .allworks-contents {
    width: 50%;
  }
}